.tooltip.in{opacity:1!important;}

/* Bottom right text */
.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
}

.cardimage {
  position: relative;
}

.card-zoom {
  transition: transform .2s;
}

.card-zoom:hover {
  position:relative;
  z-index: 100;
  transform: scale(1.1);
}