<!-- Deck outline -->
<div class="row">
  <!-- Put a ruler at the top -->
  <div class="col-sm-12 text-center"> 
    <hr>
  </div>
</div>
<!-- Container holding the preview and raw views -->
<div class="row">
  <!-- Preview View -->
  <div class="col-sm-8 text-center" style="padding-right:20px; border-right: 1px solid #ccc;">
    <h3>{{ name }}</h3>
    <div>
      {%if deck.colors.white %}<i class="ms ms-w ms-cost" data-deck-name="{{deck.id}}" data-search-color="W"></i>{%endif%} {%if deck.colors.blue %}<i class="ms ms-u ms-cost" data-deck-name="{{deck.id}}" data-search-color="U"></i>{%endif%} {%if deck.colors.black %}<i class="ms ms-b ms-cost" data-deck-name="{{deck.id}}" data-search-color="B"></i>{%endif%} {%if deck.colors.red %}<i class="ms ms-r ms-cost" data-deck-name="{{deck.id}}" data-search-color="R"></i>{%endif%} {%if deck.colors.green %}<i class="ms ms-g ms-cost" data-deck-name="{{deck.id}}" data-search-color="G"></i>{%endif%}
    </div>
    
    <hr>
    <!-- <div class="container"> -->
      <div class="row"  id="view_preview">
        <div class="col-sm-4 d-none d-sm-block">
          <img class="img-fluid" style="position: sticky; top: 10px;" src="https://static.arenadecks.com/img/Magic_card_back.jpg" data-deck-name="{{ deck.id }}">
        </div>
        <div class="col-sm-8">
          <div class="container">
            {% if gates.commander %}
            <div class="row">
              <div class="col-12 py-0">
                <b>Commander ({{ cardcount.commander }})</b>
                <hr>
              </div>
            </div>
            <div class="row">
              <div class="col-12 text-start">
                <div class=container">
                  <div class="row gx-1">
                    <!-- Loop through cards -->
                    {% for card in deck.zones.commander %}
                    <div class="col-md-6">
                      {{card.count}} <a href="{{ card.details.scryfall_uri }}" data-deck-name="{{ deck.id }}" data-card-rarity="{{ card.details.rarity }}" data-image-url="{{card.details.image_uris.normal}}" data-card-colors="{{card.details.colors}}" target="_blank" rel="noopener noreferrer">{{card.details.name}}</a><br>
                    </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
            {% endif %}

            <!-- Companion Display -->
            {% if gates.companion %}
            <div class="row">
              <div class="col-12 py-0">
                <b>Companion ({{ cardcount.companion }})</b>
                <hr>
              </div>
            </div>
            <div class="row">
              <div class="col-12 text-start">
                <div class=container">
                  <div class="row gx-1">
                    <!-- Loop through cards -->
                    {% for card in deck.zones.companion %}
                    <div class="col-md-6">
                      {{card.count}} <a href="{{ card.details.scryfall_uri }}" data-deck-name="{{ deck.id }}" data-card-rarity="{{ card.details.rarity }}" data-image-url="{{card.details.image_uris.normal}}" data-card-colors="{{card.details.colors}}" target="_blank" rel="noopener noreferrer">{{card.details.name}}</a><br>
                    </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
            {% endif %}

            <!-- Deck Display -->
            {% if gates.deck %}
            <div class="row">
              <div class="col-12 py-0">
                <b>Deck ({{ cardcount.deck }})</b>
                <hr>
              </div>
            </div>
            <div class="row">
              <div class="col-12 text-start">
                <div class=container">
                  <div class="row gx-1">
                    <!-- Loop through cards -->
                    {% for card in deck.zones.deck %}
                    <div class="col-6">
                      {{card.count}} <a href="{{ card.details.scryfall_uri }}" data-deck-name="{{ deck.id }}" data-card-rarity="{{ card.details.rarity }}" data-image-url="{{card.details.image_uris.normal}}" data-card-colors="{{card.details.colors}}" target="_blank" rel="noopener noreferrer">{{card.details.name}}</a><br>
                    </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
            {% endif %}

            <!-- Sideboard Display -->
            {% if gates.sideboard %}
            <div class="row">
              <div class="col-12 py-0">
                <b>Sideboard ({{ cardcount.sideboard }})</b>
                <hr>
              </div>
            </div>
            <div class="row">
              <div class="col-12 text-start">
                <div class=container">
                  <div class="row gx-1">
                    <!-- Loop through cards -->
                    {% for card in deck.zones.sideboard %}
                    <div class="col-md-6">
                      {{card.count}} <a href="{{ card.details.scryfall_uri }}" data-deck-name="{{ deck.id }}" data-card-rarity="{{ card.details.rarity }}" data-image-url="{{card.details.image_uris.normal}}" data-card-colors="{{card.details.colors}}" target="_blank" rel="noopener noreferrer">{{card.details.name}}</a><br>
                    </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
            {% endif %}

            <div class="row ">
              <div class="col-12 py-0">
                <hr>
              </div>
            </div>
            <div class="row">
              <div class="col-3">
                <div data-bs-toggle="tooltip" title="Mythic" data-card-rarity="mythic" data-deck-name="{{ deck.id }}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="orange" class="bi bi-heptagon-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M7.779.052a.5.5 0 0 1 .442 0l6.015 2.97a.5.5 0 0 1 .267.34l1.485 6.676a.5.5 0 0 1-.093.415l-4.162 5.354a.5.5 0 0 1-.395.193H4.662a.5.5 0 0 1-.395-.193L.105 10.453a.5.5 0 0 1-.093-.415l1.485-6.676a.5.5 0 0 1 .267-.34L7.779.053z"></path>
                  </svg>
                </div>
                <b>{{wildcards.mythic}}</b>
              </div>
              <div class="col-3">
                <div data-bs-toggle="tooltip" title="Rare" data-card-rarity="rare" data-deck-name="{{ deck.id }}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gold" class="bi bi-heptagon-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M7.779.052a.5.5 0 0 1 .442 0l6.015 2.97a.5.5 0 0 1 .267.34l1.485 6.676a.5.5 0 0 1-.093.415l-4.162 5.354a.5.5 0 0 1-.395.193H4.662a.5.5 0 0 1-.395-.193L.105 10.453a.5.5 0 0 1-.093-.415l1.485-6.676a.5.5 0 0 1 .267-.34L7.779.053z"></path>
                  </svg>
                </div>
                <b>{{wildcards.rare}}</b>
              </div>
              <div class="col-3">
                <div data-bs-toggle="tooltip" title="Uncommon" data-card-rarity="uncommon" data-deck-name="{{ deck.id }}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="silver" class="bi bi-heptagon-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M7.779.052a.5.5 0 0 1 .442 0l6.015 2.97a.5.5 0 0 1 .267.34l1.485 6.676a.5.5 0 0 1-.093.415l-4.162 5.354a.5.5 0 0 1-.395.193H4.662a.5.5 0 0 1-.395-.193L.105 10.453a.5.5 0 0 1-.093-.415l1.485-6.676a.5.5 0 0 1 .267-.34L7.779.053z"></path>
                  </svg>
                </div>
                <b>{{wildcards.uncommon}}</b>
              </div>
              <div class="col-3">
                <div data-bs-toggle="tooltip" title="Common" data-card-rarity="common" data-deck-name="{{ deck.id }}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-heptagon-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M7.779.052a.5.5 0 0 1 .442 0l6.015 2.97a.5.5 0 0 1 .267.34l1.485 6.676a.5.5 0 0 1-.093.415l-4.162 5.354a.5.5 0 0 1-.395.193H4.662a.5.5 0 0 1-.395-.193L.105 10.453a.5.5 0 0 1-.093-.415l1.485-6.676a.5.5 0 0 1 .267-.34L7.779.053z"></path>
                  </svg>
                </div>
                <b>{{wildcards.common}}</b>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- </div> -->
  </div>
  <!-- Raw View -->
  <div class="col-sm-4 text-center">
    <hr class="d-sm-none" />
    <h3>Raw Text</h3>
    <div data-deck-copy="{{deck.id}}"><i class="bi bi-files"></i></a></div>
    <hr>
    <pre class="overflow-auto mh-75" data-deck-name="{{deck.id}}" id="view_raw">
      {{deck.raw}}
    </pre>
  </div>
</div>
<div class="row">
  <!-- Put a ruler at the bottom -->
  <div class="col-sm-12 text-center">
    <hr>
  </div>
</div>
<!-- End of Deck outline -->