---
pageTitle: "ArenaDecks.com: Super Fresh Decks"
layout: site.liquid
---

<div class="container">
    <div class="row">

        <!-- Content AreaSS -->
        <div class="col-sm-7">
        <hr />
            {{ content }}
        </div>

        <!-- Recent Content Bar -->
        <div class="col-sm-5">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <hr />
                        <h2>Latest Posts</h2>
                        <hr />
                    </div>
                </div>
                {% assign latest_posts = collections.posts | reverse | slice:0, 10 %}
                {% for post in latest_posts %}
                    <div class="row">
                        <div class="col-sm-9">
                            <a href="{{ post.url }}">{{ post.data.pageTitle }}</a>
                        </div>
                        <div class="col-sm-3">
                            {{ post.date | date: "%Y-%m-%d" }}
                        </div>
                    </div>
                {% endfor %}
                <div class="row">
                    <div class="col-sm-12">
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 text-center offset-md-5">
                        <a href="/archive/">Archive</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <hr />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
