<div class="container">
  <div class="row">
    <div class="col-12"><hr /></div>
  </div>
  <div class="row gy-2 gx-2">
    {% for card in deck.zones.Deck.Cards %}
    <div class="col-md-2">
      <a href="{{card.card.ScryfallURI}}" target="_blank" ><img class="img-fluid card-zoom" src='{{card.card.ImageURIs.normal}}' data-bs-toggle="tooltip" title="{{card.card.Name}} (x{{card.count}})" /></a>
    </div>
    {% endfor %}
  </div>
  <div class="row">
    <div class="col-12"><hr /></div>
  </div>
</div>