---
layout: archive.liquid
title: My Posts
permalink: "/archive/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber | plus: 1 }}/{% endif %}index.html"
pagination:
  data: collections.posts
  size: 25
  alias: posts
  reverse: true
---
<div class="container">

  <div class="row">
    <div class="col-sm-6 text-center">
      <hr />
      <H3>Archive</H3>
      <hr />
    </div>
  </div>

  {% for post in posts %}
    <div class="row">
      <div class="col-sm-4">
        <a href="{{ post.url | url }}">{{ post.data.pageTitle }}</a>
      </div>
      <div class="col-sm-2">
        ({{ post.date | date: "%Y-%m-%d" }})
      </div>
    </div>
  {% endfor %}
  
  <div class="row">
      <div class="col-sm-2 text-center">
          <hr />
          <a {% if pagination.href.previous %}href="{{pagination.href.previous}}"{% endif %}>Previous Page</a>
          <hr />
      </div>
      <div class="col-sm-2 text-center">
          <hr />
          Page {{ pagination.pageNumber | plus: 1 }}
          <hr />
      </div>
      <div class="col-sm-2 text-center">
        <hr />
          <a {% if pagination.href.next %}href="{{pagination.href.next}}"{% endif %}>Next Page</a>
          <hr />
      </div>
  </div>
            
</div>